h1, h2, h3, h4, p{
    font-family: 'Roboto', sans-serif;
}

.home{
    padding:10px;
    border-radius: 5px;
}

.nav-btn{
    font-family: 'Raleway', sans-serif;
}

.navbar{
    background-color: rgb(37, 37, 37);
    z-index: 10;
    text-decoration: none;
}

.nav-btn:hover, .home:hover{
    background-color: rgb(212, 212, 212);
    color: black;
    transition: .5s;
    text-decoration: none;
}

.menu-btn{
    background-color:rgb(212, 212, 212);
    color: rgb(37, 37, 37);
}

.contacts{
    border: 10px, solid, #9e9e9e6c;
    border-radius: 4px; 
}


.contact-options{
    height: 100px;
    width: 100px;
    margin: 20px;
}

.jumbotron{
    margin: 0;
    border-radius: 0rem;
    text-align: center;   
}

.contact-section{
    background-color: rgb(37, 37, 37);
    height: 400px;
}

.white-text{
    color:white;
}

.splash{
    background-color: #232f3e;
}

.splash-image{
    height: 70%;
    width: 70%;
    margin-top: 100px;
}

.heading{
    margin-top:50px;
    font-size:500%
}

.designDoc{
    height: 60%;
    width: 60%;
    margin: 10px;
}

.statement{
    height: 70%;
    width: 70%;;
}

.mission-statement{
    background-color: #14293F;
}

.data-doc{
    height: 80%;
    width: 80%;
}

.data{
    background-color: #14293F;
}

.example{
    background-color: #F49E37;
}

.lofi{
    background-color: #14293F;
}

.flows{
    background-color: #F49E37;
}