h1, h2, h3, h4, .home, .nav-btn {
    font-family: 'Raleway', sans-serif;
}

.navbar{
    background-color: rgb(37, 37, 37);
}

.menu-btn{
    background-color:rgb(212, 212, 212);
    color: rgb(37, 37, 37);
}

.nav-btn, .home{
    color: white;
    transition: .5s;
    text-decoration: none;
}

.nav-btn:hover, .home:hover{
    background-color: rgb(212, 212, 212);
    color: black;
    transition: .5s;
    text-decoration: none;
}

.jumbotron{
    text-align: center;
    margin: 0;
    border-radius: 0;
}

.splash{
    background-color: rgb(27, 27, 27);
}

.white-text{
    color:white;
}

.splash-text{
    font-family: railway, sans-serif;
}

.description{
    background-color: rgb(27, 27, 27)
}

.example{
    background-color: #D0CFCE;
    
}

.data{
    background-color: #D0CFCE;
}

.contact-section{
    background-color: rgb(37, 37, 37);
    height: 400px;
}

.lofi{
    background-color: black;
}

.docs-imagess{
    height: 80%;
    width: 80%;
}

.logo{
    margin-top:-50px;
}
 .journey{
     height: 70%;
     width: 70%;
 }
.blurb{
    margin: 100px;
    margin-bottom: 0;
    margin-top: -50px;
}

.statement{
    margin: 100px;

}
.title{
    font-size: 500%;
    text-decoration: bold;
    margin-bottom: 50px;
}

.frames{
    height: 80%;
    width: 80%;
}

.ani-flows{
    height: 25%;
    width: 25%;
}

.ani-gifs{
    height: 30%;
    width: 30%;
    display: inline-block;
}

.contact-options{
    height: 100px;
    width: 100px;
    margin: 20px;
}

.docs-images{
    margin-bottom: 50px;
}

.heading{
    font-size: 64px;
}

.flow-doc{
    height: 60%;
    width: 60%;
    margin: 20px;
}

