h1, h2, h3, h4, p, .nav-btn, .home{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-style: italic;
}

h2{
    font-size: 56px;
}

.bio{
    font-style: normal;
    font-size: 24px;
    margin: 50px;
}

.navbar{
    background-color: rgb(37, 37, 37);
    z-index: 10;
    text-decoration: none;
}

.menu-btn{
    background-color:rgb(212, 212, 212);
    color: rgb(37, 37, 37);
}

.contacts{
    border: 10px, solid, #9e9e9e6c;
    border-radius: 4px; 
}

.welcome
{
    margin-top: 80px;
}

.myname{
    margin: 0, 0;
    font-size: 100px;
    color: white;
}

.about-me-section{
    background-color: rgb(141, 141, 141)
    
}

.jumbotron{
    margin: 0;
    border-radius: 0rem;
    text-align: center;   
}

.mx-auto{
    width: 200px;
}

.contact-section{
    background-color: rgb(37, 37, 37);
    height:800px;
}

.email-form{
    background-color: rgb(37, 37, 37); 
    padding: 20px;
}

.white-text{
    color:white;
}

.welcome-background{
    background-image: url(index/Images/IMG_0330.JPG);
    background-size: cover;
    background-position-y: 75%;
    background-color: #2727276c;
    background-blend-mode: darken;
    height: 500px;
}

.nav-btn{
    color: white;
    transition: .5s;
    text-decoration: none;
}

.nav-btn:hover, .home:hover{
    background-color: rgb(212, 212, 212);
    color: black;
    transition: .5s;
    text-decoration: none;
}

.p-2{
    text-decoration: none;
}

.p-2:hover{
    text-decoration: none;
}

.project-images{
    height: 50%;
    width: 50%;
    transition: 0.5s;
    text-decoration: none;
}


.project-thumbnails{
    margin-top: 100px;
    display: inline-block;
    transition: 0.5s;
}

.project-images:hover{
    
    transition: 0.5s;
    height: 55%;
    width: 55%;
}

.home{
    color:white;
}

.contact-options{
    height: 100px;
    width: 100px;
    margin: 20px;
}

