.jumbotron{
    text-align: center;
    margin: 0;
    border-radius: 0;
}

.splash{
    background-color: rgb(27, 27, 27);
}

.white-text{
    color:white;
}

.splash-text{
    font-family: railway, sans-serif;
}

.description{
    background-color: rgb(27, 27, 27)
}

.example{
    background-color: #D0CFCE;
    
}

.data{
    background-color: #D0CFCE;
}

.contact-section{
    background-color: black;
}

.lofi{
    background-color: black;
}

.docs-imagess{
    height: 80%;
    width: 80%;
}
 .journey{
     height: 70%;
     width: 70%;
 }
.statement{
    margin: 50px;
}

.frames{
    height: 80%;
    width: 80%;
}

.ani-flows{
    height: 30%;
    width: 30%;
}

.ani-gifs{
    height: 30%;
    width: 30%;
    display: inline-block;
}